<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <style>

    </style>

</head>
<body bgcolor="<%= body.bodybgColor %>">
    
    <center>
        <img src="<%= index.general.aboutPic %>" alt="my picture" width="400px">
    </center>

    <center>
        <h1 style="color: <%= name.nameTextColor %>; background-color: <%= name.nameBgColor %>; border-style: <%= name.nameBorderStyle %>;">
            <%= index.general.name %>
        </h1>
    </center>

    <h3>
        <<%= list.listType %>  style="color: <%= list.listTextColor %>; background-color: <%= list.listBgColor %>; border-style: <%= list.listBorderStyle %>;">
            <li>Roll No: <%= index.general.roll %></li>
            <li>Class: <%= index.general.className %></li>
            <li>Division: <%= index.general.div %></li>
        </<%= list.listType %>>
    </h3>

</body>
</html>