<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <style>
        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .main_text {
            width: 50%;
            text-align: center;
            border-width: 5px;
            border-color: black;
            margin-top: 5%;
            margin-left: 2%;
            padding: 20px;
        }

        .main_img {
            margin-top: 5%;
            margin-right: 2%;
        }

        .next_button {
            background-color: blue;
            color: white;
            font-size: xx-large;
            text-align: right;
            float: right;
            margin-bottom: 2%;
            margin-right: 2%; 
        }

        .next_button:hover {
            background-color: rgb(68, 68, 246);
        }
    </style>
</head>
<body bgcolor="<%= body.bodybgColor %>">
    <h1 align="center" id="project_name" style="color: <%= project_name.h1textColor %>; background-color: <%= project_name.h1bgColor %>; border-style: <%= project_name.border_h1 %>"> <%= name %>'s project</h1>
    <hr style="border-color: <%= hr.hrColor %>; border-width: <%= hr.hrSize %>px; width: <%= hr.hrWidth %>%;">

    <div class="main">
        <div class="main_text" style="background-color: <%= main_container.mainBgColor %>; border-style: <%= main_container.borderMain %>">
            <h1 id="main_h1" style="color: <%= main_container.main_h1textColor %>; background-color: <%= main_container.main_h1bgColor %>;"> <%= title %> </h1>
            <p class="main_para" style="color: <%= main_container.paraTextColor %>; background-color: <%= main_container.paraBgColor %>;">
                <%= para1 %>
            </p>
        </div>
        <img class="main_img" src="<%= image %>" width="400px">
    </div>
    <%= para2 %>
    <a href="about.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">about page</a>
    <br>
    <a href="home.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">home page</a>
    <br>
    <a href="input.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">input tags</a>
    <br>
    <a href="headings.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">heading tags</a>
    <br>
    <a href="lists.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">list tags</a>
    <br>
    <a href="formatting.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">formatting tags</a>
    <br>
    <a href="div.html" style="color: <%= links.A_textColor %>; background-color: <%= links.A_bgColor %>;">div tags</a>
</body>
</html>